body, html {
    font-family: "jaf-domus";
    position: relative;
    color: #44506F;
}


b, strong {
    font-weight: 700;
}

h1 {
    margin: 0px;
    position: absolute;
    left: 100px;
    top: 100px;
    color: #44506F;
    font-size: 25px;
    font-weight: 300;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px; /* Adicione margem inferior para separar o conteúdo */
}


.ligacao {
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    left: 50%;
    right: 50%;
    margin-top: -5%;
    transition: 0.3s ease-in-out;
    
}

.ligacao2 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    left: 50%;
    right: 50%;
    margin-top: 8%;
    transition: 0.3s ease-in-out;
    
}

.ligacao3 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 150px;
    left: 85%;
    right: 10%;
    margin-top: -10%;
    transition: 0.3s ease-in-out;
    
}

.scroll-link {
left: 50%;
right: 50%
}

.ligacao:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.container {
    display: flex; /* Usa flexbox */
    margin-top: 5%;
    margin-bottom: 10%;
  }

.estrela-ambientes-div {
    flex: 1;
    margin-left: 10%;
    max-width: 80%;
    

}

.estrela-ambientes {
    width: 100%;
    max-width: 100%;
    margin-top: 15px;


}




.holder {
    max-width: 100%;
    position: relative;
    display: flex; /* Para alinhar os itens lado a lado */
    flex-direction: column; /* Organiza os itens verticalmente em dispositivos menores */
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui igualmente o espaço entre os itens */
    flex: 2; /* Ajuste conforme necessário */
    margin-left: -15%;
    margin-top: 4%;

}



.background {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -90px;
    margin-top: 9px;
}



.item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:2;
}

.item i {
    position: absolute;
    padding: 4px 24px;
    font-size: 18px;
    line-height: 100%;
    border-radius: 10px;
    background: #F1F2FB;
    color: #44506F;
    text-decoration: none;
    text-align: center;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    font-style: normal;
    white-space: nowrap;
    margin-bottom: 10px;
}

.item.bottom i {
    bottom: auto;
    margin-bottom: 0px;
    top: 100%;
    margin-top: -20px;
}

.item img{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.item:hover img {
    transform: scale(1.1);
}


@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-around; /* Distribui os elementos horizontalmente */

    }
    
    .estrela-ambientes-div {
        max-width: 100%; /* Reduza a largura máxima para ocupar 25% da largura da tela */
    }

    .estrela-ambientes {
        max-width: 100%;
        margin-left: -20%;
    }
    
    .holder img{
        display: flex;
        margin-top: 0;
        margin-right: 50px;
        margin-left: -18%;
        scale: 0.9;

    }


 

   
}





/*MODAIS*/

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    z-index: 10;
    transition: 0s;
    display: none;
}

.modal {
    position: fixed;
    left: 0px;
    top: 50%;
    width: 100%;
    max-height: 100%;
    z-index: 10;
    overflow: auto;
    padding: 40px;
    transform: translateY(-50%);
    transition: 0s;
    pointer-events: none;
    display: none;
}

.modal_item {
    max-width: 100%;
    width: 900px;
    border-radius: 20px;
    overflow: hidden;
    margin: 40px 0px;
    margin-bottom: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: 0s;
    pointer-events: all;
    display: none;
}

.modal_item_header {
    background: #aaa;
    padding: 40px;
    position: relative;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
}

.modal_item_header img {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.modal_item_header_close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal_item_header_close:before, .modal_item_header_close:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal_item_header_close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal_item_content {
    padding: 40px;
    background: rgba(240, 240, 240, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: stretch;
}

.modal_item_content.center {
    justify-content: center;
}

.modal_item_content_item {
    min-height: 190px;
    background: #fff;
    border-radius: 30px;
    flex-grow: 1;
    flex: 0 0 calc(25% - 15px);
    position: relative;
    padding:24px;
    padding-bottom:48px;
    font-size: 18px;
}

.modal_item_content_item.big {
    flex: 0 0 calc(75% - 15px);
}

.modal_item_content_item.medium {
    flex: 0 0 calc(50% - 15px);
}

.modal_item_content_item:before {
    content:'';
    left:24px;
    bottom:24px;
    position: absolute;
    width:100px;
    height:3px;
    background:#696969;
}

@media(max-width:1199px){
    .modal_item_content_item {
        flex: 0 0 calc(33.33% - 13.33px);
    }

    .modal_item_content_item.big {
        flex: 0 0 100%;
    }
    
    .modal_item_content_item.medium {
        flex: 0 0 100%;
    }
}

@media(max-width:991px){
    .modal_item_content_item {
        flex: 0 0 calc(50% - 10px);
    }
}

@media(max-width:767px){
    .modal{
        padding:10px;
    }
    .modal_item_content_item {
        flex: 0 0 100%;
        min-height: 0px;
    }
    .modal_item_header{
        padding:24px;
        padding-right:100px;
    }
    .modal_item_content{
        padding:24px;
        justify-content: flex-start;
    }
}
